In [2]:
import numpy as np
import pandas as pd
import sys

In [3]:
v1 = np.arange(12).reshape(3,4)

In [4]:
v1

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [5]:
v2 = np.array(list([10]*4))

In [6]:
v2

array([10, 10, 10, 10])

In [7]:
v1 + v2

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21]])

In [8]:
v2 + v2.reshape(4,1)

array([[20, 20, 20, 20],
       [20, 20, 20, 20],
       [20, 20, 20, 20],
       [20, 20, 20, 20]])

In [9]:
v2

array([10, 10, 10, 10])

In [10]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [11]:
@np.vectorize
def isneg(n):
    if not np.isnan(n) and n < 0:
        return n.__class__(0)
    return n

In [12]:
nv = np.array([-3,np.nan,1])

In [13]:
isneg(nv)

array([ 0., nan,  1.])

In [14]:
@np.vectorize
def isneg(n):
    return not np.isnan(n) and n <0

In [15]:
nv[~(isneg(nv))] = -1

In [16]:
isneg(nv)

array([ True,  True,  True])

In [17]:
nv

array([-3., -1., -1.])

In [18]:
vals1 = np.array([1,None,2,3])

In [19]:
vals1

array([1, None, 2, 3], dtype=object)

In [20]:
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [21]:
vals1 = np.array([1,np.nan,2,3])

In [22]:
vals1.sum()

nan

In [23]:
type(vals1.sum())

numpy.float64

In [24]:
vals1.mean()

nan

In [25]:
np.nansum(vals1)

6.0

In [26]:
np.nanmax(vals1)

3.0

In [27]:
pd.Series([1,2,np.nan,None])

0    1.0
1    2.0
2    NaN
3    NaN
dtype: float64

In [28]:
ser = Out[27]

In [29]:
type(ser)

pandas.core.series.Series

In [30]:
ser[0]

1.0

In [31]:
ser.index

RangeIndex(start=0, stop=4, step=1)

In [32]:
ser.isnull()

0    False
1    False
2     True
3     True
dtype: bool

In [33]:
ser.notnull()

0     True
1     True
2    False
3    False
dtype: bool

In [34]:
ser[ser.isnull()]

2   NaN
3   NaN
dtype: float64

In [35]:
ser[ser.notnull()]

0    1.0
1    2.0
dtype: float64

In [36]:
ser.dropna()

0    1.0
1    2.0
dtype: float64

In [37]:
ser

0    1.0
1    2.0
2    NaN
3    NaN
dtype: float64

In [38]:
ser.fillna(0)

0    1.0
1    2.0
2    0.0
3    0.0
dtype: float64

In [39]:
ser

0    1.0
1    2.0
2    NaN
3    NaN
dtype: float64

In [40]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])

In [41]:
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [42]:
df[3] = np.nan

In [43]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [44]:
df.dropna(axis='col')

ValueError: No axis named col for object type <class 'pandas.core.frame.DataFrame'>

In [46]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [47]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [48]:
df.dropna(axis='columns',how='any')

   2
0  2
1  5
2  6

In [49]:
df.dropna(axis='columns',how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [51]:
df.dropna(axis='columns',thresh=2)

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [54]:
df.dropna(axis=1,thresh=3)

   2
0  2
1  5
2  6

In [55]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [56]:
df.fillna(method='ffill')

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  2.0  4.0  6 NaN

In [57]:
df.fillna(axis=1,method='ffill')

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

In [58]:
df.fillna(axis=1,method='bfill')

     0    1    2   3
0  1.0  2.0  2.0 NaN
1  2.0  3.0  5.0 NaN
2  4.0  4.0  6.0 NaN

In [59]:
!git status

On branch Chapter-3-Data-Manipulation-with-Pandas
Your branch is up to date with 'origin/Chapter-3-Data-Manipulation-with-Pandas'.

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   .ipynb_checkpoints/notebook3-checkpoint.ipynb
	modified:   notebook3.ipynb

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	.ipynb_checkpoints/notebook4-checkpoint.ipynb
	notebook4.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [ ]:
!git status
!git add .
!git commit -m "Handling Missing Data"
!git push