In [1]:
import numpy as np
import pandas as pd
import sys

In [2]:
rng = np.random.RandomState(42)

In [3]:
ser = pd.Series(rng.randint(0,10,4))

In [4]:
ser

0    6
1    3
2    7
3    4
dtype: int64

In [5]:
df = pd.DataFrame(rng.randint(0,10,(3,4)),columns=list('abcd'))

In [6]:
df

   a  b  c  d
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [7]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [9]:
np.sin(df*np.pi/4)

          a             b         c             d
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

In [10]:
area = pd.Series(
    {
    'Alaska':1723337, 
    'Texas': 695662,
    'California': 423967
    }, name = 'area')
population = pd.Series(
    {
        'California': 38332521, 
        'Texas': 26448193,
        'New York': 19651127
    },
name= 'population')

In [11]:
aea

NameError: name 'aea' is not defined

In [12]:
area

Alaska        1723337
Texas          695662
California     423967
Name: area, dtype: int64

In [13]:
population

California    38332521
Texas         26448193
New York      19651127
Name: population, dtype: int64

In [14]:
population/area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [16]:
area.index

Index(['Alaska', 'Texas', 'California'], dtype='object')

In [17]:
area.index | population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

In [18]:
A = pd.Series([1,2,3],index=[0,1,2])
B = pd.Series([5,6,9],index=[0,4,3])

In [19]:
A
B

0    5
4    6
3    9
dtype: int64

In [20]:
A

0    1
1    2
2    3
dtype: int64

In [21]:
A + B

0    6.0
1    NaN
2    NaN
3    NaN
4    NaN
dtype: float64

In [22]:
A.add(B, fill_value=0)

0    6.0
1    2.0
2    3.0
3    9.0
4    6.0
dtype: float64

In [25]:
A = pd.DataFrame(rng.randint(0,20,(2,2)))

In [26]:
A

    0   1
0  16   9
1  15  14

In [27]:
B = pd.DataFrame(rng.randint(0,10,(3,3)))

In [28]:
B

   0  1  2
0  2  6  3
1  8  2  4
2  2  6  4

In [29]:
A.COLUMNS

AttributeError: 'DataFrame' object has no attribute 'COLUMNS'

In [30]:
A.columns

RangeIndex(start=0, stop=2, step=1)

In [31]:
A.Index

AttributeError: 'DataFrame' object has no attribute 'Index'

In [32]:
A.index

RangeIndex(start=0, stop=2, step=1)

In [33]:
A.index = pd.Index(list('AB'))

In [34]:
A

    0   1
A  16   9
B  15  14

In [35]:
B.index = pd.Index(list('BAC'))

In [36]:
b

NameError: name 'b' is not defined

In [37]:
B

   0  1  2
B  2  6  3
A  8  2  4
C  2  6  4

In [38]:
A + B

      0     1   2
A  24.0  11.0 NaN
B  17.0  20.0 NaN
C   NaN   NaN NaN

In [39]:
A.stack()

A  0    16
   1     9
B  0    15
   1    14
dtype: int64

In [40]:
A.stack().mean()

13.5

In [41]:
A.stack().sum()

54

In [42]:
A.add(B,fill_value=A.stack().mean())

      0     1     2
A  24.0  11.0  17.5
B  17.0  20.0  16.5
C  15.5  19.5  17.5

In [43]:
area

Alaska        1723337
Texas          695662
California     423967
Name: area, dtype: int64

In [44]:
population

California    38332521
Texas         26448193
New York      19651127
Name: population, dtype: int64

In [45]:
population.div(area,fill_value=population.mean()/area.mean())

Alaska             0.000017
California        90.413926
New York      661687.406800
Texas             38.018740
dtype: float64

In [46]:
population/area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

In [47]:
population.mean()

28143947.0

In [48]:
area.mean()

947655.3333333334

In [49]:
population.mean()/area.mean()

29.69850536376446

In [50]:
A = rng.randint(0,10,(3,4))

In [51]:
A

array([[8, 6, 1, 3],
       [8, 1, 9, 8],
       [9, 4, 1, 3]])

In [52]:
A[0]

array([8, 6, 1, 3])

In [53]:
A - A[0]

array([[ 0,  0,  0,  0],
       [ 0, -5,  8,  5],
       [ 1, -2,  0,  0]])

In [54]:
df = pd.DataFrame(A,columns=list('QRST'))

In [55]:
df

   Q  R  S  T
0  8  6  1  3
1  8  1  9  8
2  9  4  1  3

In [56]:
df.loc[0]

Q    8
R    6
S    1
T    3
Name: 0, dtype: int64

In [57]:
df.iloc['R']

TypeError: Cannot index by location index with a non-integer key

In [58]:
df.loc['R']

KeyError: 'R'

In [59]:
df

   Q  R  S  T
0  8  6  1  3
1  8  1  9  8
2  9  4  1  3

In [60]:
df.iloc[0]

Q    8
R    6
S    1
T    3
Name: 0, dtype: int64

In [61]:
df.loc[2]

Q    9
R    4
S    1
T    3
Name: 2, dtype: int64

In [62]:
df.loc[0:1]

   Q  R  S  T
0  8  6  1  3
1  8  1  9  8

In [63]:
df.iloc[0:1]

   Q  R  S  T
0  8  6  1  3

In [64]:
df.iloc['Q':'S']

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.range.RangeIndex'> with these indexers [Q] of <class 'str'>

In [65]:
df.loc['Q':'S']

TypeError: '>=' not supported between instances of 'numpy.ndarray' and 'int'

In [66]:
df.loc[:,'Q':'S']

   Q  R  S
0  8  6  1
1  8  1  9
2  9  4  1

In [67]:
df.loc[0:2]

   Q  R  S  T
0  8  6  1  3
1  8  1  9  8
2  9  4  1  3

In [68]:
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1  0 -5  8  5
2  1 -2  0  0

In [69]:
df - df.loc['R']

KeyError: 'R'

In [70]:
df['R']

0    6
1    1
2    4
Name: R, dtype: int64

In [71]:
df

   Q  R  S  T
0  8  6  1  3
1  8  1  9  8
2  9  4  1  3

In [72]:
df - df['R']

    Q   R   S   T   0   1   2
0 NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN

In [73]:
df.subtract(df['R'],axis=0)

   Q  R  S  T
0  2  0 -5 -3
1  7  0  8  7
2  5  0 -3 -1

In [74]:
df.subtract(df['R'],axis=1)

    Q   R   S   T   0   1   2
0 NaN NaN NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN NaN NaN
2 NaN NaN NaN NaN NaN NaN NaN

In [75]:
halfrow = df.iloc[:,::2]

In [76]:
halfrow

   Q  S
0  8  1
1  8  9
2  9  1

In [77]:
df

   Q  R  S  T
0  8  6  1  3
1  8  1  9  8
2  9  4  1  3

In [78]:
halfrow = df.iloc[0,::2]

In [79]:
halfrow

Q    8
S    1
Name: 0, dtype: int64

In [80]:
df - halfrow

     Q   R    S   T
0  0.0 NaN  0.0 NaN
1  0.0 NaN  8.0 NaN
2  1.0 NaN  0.0 NaN

In [82]:
df.subtract(halfrow,fill_value=1)

NotImplementedError: fill_value 1 not supported.

In [83]:
type(halfrow)

pandas.core.series.Series

In [84]:
type(df.iloc[0])

pandas.core.series.Series

In [85]:
df - df.iloc[0]

   Q  R  S  T
0  0  0  0  0
1  0 -5  8  5
2  1 -2  0  0

In [ ]:
!git status
!git add .
!git commit -m "Operating on Data in Pandas"
!git push
!git status